*{
  margin:0;
  padding:0;
}

body{
  height:100%;
  width:100%;
  color:#111;
  background:url('../img/page_bg_grey.jpg') repeat-x #323232;
  font:15px Calibri,Arial,sans-serif;
  border-top:5px solid #212121;
}

.rounded{
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
}

/* standard format */
.blueButton {
    padding: 2px 5px;
    display: inline;
    /*background: #777 url(img/button.png) repeat-x bottom;*/
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-shadow: 1px 1px #666;
    background-color: #2c6da0;
    }
.blueButton:hover {
    background: #1c5d90 0 center;
}


.holder{
  background: #202020;
  border:1px solid #111111;
  padding: 25px 2px 2px 2px;
}

.header{
  position:absolute;
  left:0%;
  top: 0%;
  width:100%;
  height:25px;
  color: white;
  z-index: 2;
  font:17px Calibri,Arial,sans-serif;
  text-align:center;
}

.list{
position:relative;
  left:0%;
  top: 0%;
  width:100%;
  height:100%;
  background: #303030;

}

/* Messages */
/* overflow: hidden enables the resizing of each div*/

.retrieve_previous:hover{
 background:url('') repeat-x #d5d5d5;
 background-color:#B0B0B0;
 cursor:pointer;
}

.message, .retrieve_previous{
    position:relative;
    width: 95%;
    border:1px solid #FFFFFF;
    padding:2px 2px 2px 2px;
    margin: 0.5% 5% 0.5% 1%;
    background:url('../img/chat_line_bg.jpg') repeat-x #d5d5d5;
    overflow: hidden;
}

.message:last-child{
    margin-bottom:0;
}

/*using floats here allows resizing of the parent div (message)
overflow: hiddden ensures that low resolution version doesnt
overflow over text, could also use min-width (either way screwed;-))*/


.message .msg-avatar{
    padding-right:4px;
    background:url('../img/unknown24x24.png') no-repeat;
    clear: left;
    float:left;
    display:block;
}

.message .msg-info{
    float:left;
    font-size:12px;
    line-height:12px;
    margin-right: 2px;
 }

/* This works because the div is now set to a certain BFC format */
.message .msg-text{
  overflow:hidden;
}

.message span{
    color:#777777;
    text-shadow:1px 1px 0 #FFFFFF;
    font-size:12px;
}


.message .text-span{
    color:#444444;
    font-size:15px;
    text-align:left;
}

.message img{
    /*hides picture when no avatar is present*/
    visibility:hidden;
}

p.noMessages, .count{
    clear:both;
    font-size:12px;

    padding:2px;
    text-align:center;
    text-shadow:1px 1px 0 #111111;
    color:#ffffff;
}

.count{
    font-size:11px;
}

.white{
	    color: white;
	    font-size:16px;
	    }

/* users */

.user{
    background:url('../img/unknown30x30.png') no-repeat 1px 1px #444444;
    border:1px solid #111111;
    float:left;
    height:32px;
    margin:5px 5px 0 0px;
    width:32px;
}

.user img{
    border:1px solid #444444;
    display:block;
    visibility:hidden;
}


/* Handles */
.list_item_first, .retrieve_previous_ticket, .retrieve_previous_feedback{
    position:relative;
    width:95%;
    margin:2px 0px 2px 2px;
    text-align:center;
    padding-left:3px;
    background-color:#00B0B0;
    cursor:pointer;
    overflow: hidden;
}

.message:last-child{
    margin-bottom:0;
}


.list_item_first:hover, .retrieve_previous_ticket:hover{
    background-color:#B0B0B0;
}

.list_item_second{
    position:relative;
    overflow:hidden;
    width:95%;
    margin:2px 0px 2px 2px;
    padding-left:3px;
    padding-bottom:2px;
    background-color:#C2DAFF;
    cursor:pointer;
}

.list_item_second:hover, .list_item_indent_second:hover{
    background-color:#B0B0B0;
}

.list_item_indent_second{
    position:relative;
    overflow:hidden;
    width:85%;
    margin:2px 0px 2px 10%;
    padding-left:3px;
    padding-bottom:1px;
    text-align:left;
    cursor:pointer;
    font:13px Calibri,Arial,sans-serif;
    background-color:#C2DAFF;
}

.list_item_handle_name{
    float:left;
    width:40%;
    text-align:left;
}
.list_item_handle_description{
    float:left;
    width:50%;
    text-align:left;
}
.list_item_handle_gps_status{
    float:right;
    width:10%;
    margin-top:3px;
}


#search_handles{
    position:absolute;
    left:0px;
    top:25px;
    width:90%;
    margin:2px 1% 2px 1%;
    padding-left:1%;
    padding-right:1%;
}

/* tickets */
.list_item_parent_ticket_updated{
    float:left;
    width:8%;
    margin-top:1px;
    text-align:left;
    overflow:hidden;
}

.list_item_parent_ticket_title{
    float:left;
    width:52%;
    text-align:left;
    cursor:pointer;
    overflow:hidden;
}

.list_item_parent_ticket_user{
    float:right;
    width:40%;
    text-align:center;
}

.list_item_parent_ticket_claim{
    float:right;
    width:40%;
    text-align:center;
    cursor:pointer;
}

.list_item_parent_ticket_claim:hover{
    background-color:#FF0000;
}

.list_item_parent_ticket_expanded{
    float:left;
    width:95%;
    margin:2px 0px 2px 2px;
    padding-left:3px;
    padding-bottom:1px;
    text-align:left;
    cursor:pointer;
    background-color:#C2DAFF;
}

/* feedback */

.list_item_feedback_expanded{
    float:left;
    width:95%;
    margin:2px 0px 2px 2px;
    padding-left:3px;
    padding-bottom:1px;
    text-align:left;
    cursor:pointer;
    background-color:#C2DAFF;
}

/* Ticket Details */

.ticketdetail{
    position:relative;
    width: 95%;
    text-align:center;
    overflow: hidden;
}

.ticketdetailname{
    float:left;
    width:14%;
    text-align:left;
    margin:4px 0px 4px 2px;
}

.ticketdetailmessagenotification{
    float:left;
    width:4%;
    text-align:left;
    margin:4px 0px 4px 2px;
}

.ticketdetailadditionnotification{
		float:left;
    width:4%;
    text-align:left;
    margin-top:2px;
}

.ticketdetailanswernotification{
		float:left;
    width:4%;
    text-align:left;
    margin-top:2px;
}

.ticketdetaildescription{
    float:right;
    width:78%;
    text-align:left;
    margin:4px 0px 4px 2px;
}

.ticketdetailleft{
    float:left;
    width:48%;
    text-align:center;
    margin:4px 0px 4px 2px;
}

.ticketdetailright{
    float:right;
    width:48%;
    text-align:center;
    margin:4px 0px 4px 2px;
}

#ticket_id{
    width:20%;
    height:20px;
    background-color:#E0E0E0;
    text-align:center;
}

#ticket_status{
    width:95%;
    height:20px;
    background-color:#E0E0E0;
    text-align:left;
}

#ticket_title{
    width:75%;
    height:20px;
    background-color:#E0E0E0;
}

#ticket_location{
    width:95%;
    background-color:#E0E0E0;
}

#ticket_persoon{
    width:100%;
    height:20px;
    background-color:#E0E0E0;
}

textarea#ticket_text{
    position: relative;
    width:95%;
    height: 60px;
    font:13px/14px Calibri,Arial,sans-serif;
    color:black;
    border:1px solid;
    border-color:#c1c1c1 #eee #eee #c1c1c1;
    text-shadow:1px 1px 0 #E4E4E4;
    padding:1% 1%;
    resize: none;
    background-color:#E0E0E0;
}

textarea#ticket_oplossing{
    position: relative;
    width:95%;
    height: 60px;
    font:13px/14px Calibri,Arial,sans-serif;
    color:black;
    border:1px solid;
    border-color:#c1c1c1 #eee #eee #c1c1c1;
    text-shadow:1px 1px 0 #E4E4E4;
    padding:1% 1%;
    resize: none;
    background-color:#E0E0E0;
}

textarea#ticket_update{
    width:95%;
    height: 60px;
    font:13px/14px Calibri,Arial,sans-serif;
    color:black;
    border:1px solid;
    border-color:#c1c1c1 #eee #eee #c1c1c1;
    text-shadow:1px 1px 0 #E4E4E4;
    padding:1% 1%;
    resize: none;
    background-color:#E0E0E0;
}

textarea#ticket_feedback{
    width:95%;
    height: 60px;
    font:13px/14px Calibri,Arial,sans-serif;
    color:black;
    border:1px solid;
    border-color:#c1c1c1 #eee #eee #c1c1c1;
    text-shadow:1px 1px 0 #E4E4E4;
    padding:1% 1%;
    resize: none;
    background-color:#E0E0E0;
}

#becomeparentticketButton{
    width:80px;
    height:20px;
}

#closeticketbutton{
    width:120px;
    height:20px;
    background-color: #e50000;
}

#saveticketbutton, #savefeedbackbutton, #saveupdatebutton{
    width:175px;
    height:20px;
    background-color: #58aa00;
}

#childticketbutton{
    width:70px;
    height:20px;
}

#ticketdetail_line
{
    position: relative;
    width:95%;
}

#openmodalbutton{
    position: relative;
    width:250px;
    height:20px;
    display: none;
}

.updatefeedback_holder
{
    border:1px solid #111111;
    padding: 20px 2px 2px 2px;
    position:relative;
    overflow:hidden;
    width:95%;
    margin:2px 0px 2px 2px;
    background-color:#202020;
}

.updatefeedback_header{
	  position:absolute;
	  left:0%;
	  top: 0%;
	  width:100%;
  	height:20px;
  	color: white;
  	z-index: 2;
  	font:14px Calibri,Arial,sans-serif;
  	text-align:left;
  	padding-left:5px;
}

.updatefeedback_time{
		text-align:right;
}

.feedback_item{
  	position:relative;
  	left:0%;
  	top: 0%;
  	width:100%;
  	height:100%;
  	background-color:#C2DAFF;
}

.update_item{
    position:relative;
    left:0%;
    top: 0%;
    width:100%;
    height:100%;
    background-color:#00B0B0;
}

.addition_item{
    position:relative;
    left:0%;
    top: 0%;
    width:100%;
    height:100%;
    background-color:#FFA126;
}

.answer_item{
    position:relative;
    left:0%;
    top: 0%;
    width:100%;
    height:100%;
    background-color:#BAFF1C;
}


/* calendar / reminder */

#DaySelect{
    position:absolute;
    left:0px;
    top:25px;
    width:90%;
    margin:2px 1% 2px 1%;
    padding-left:1%;
    padding-right:1%;
}

.calendar_time {
    background-color:#E0E0E0;
    vertical-align: top;
    
}

.calendar_empty {
    position: relative;
    background-color:#FFFFFF;
    width:100%;
}

.list_item_dayselect {
		position:relative;
		width:99%;
    overflow: hidden;
}

.calendar_selectleft {
		float:left;
		width:25%;
		text-align:center;
}

.calendar_selectday {
		float:left;
		width:50%;
		text-align:center;
}

.calendar_selectright {
		float:left;
		width:25%;
		text-align:center;
}

.calendar_item{
		width:90%;
		height:45px;
		position: absolute;
		background-color:#C2DAFF;
		z-index: 10;
		margin-right:1%;
}

#task_title{
    width:95%;
    height:20px;
    background-color:#E0E0E0;
}

textarea#task_text{
    position: relative;
    width:95%;
    height: 60px;
    font:13px/14px Calibri,Arial,sans-serif;
    color:black;
    border:1px solid;
    border-color:#c1c1c1 #eee #eee #c1c1c1;
    text-shadow:1px 1px 0 #E4E4E4;
    padding:1% 1%;
    resize: none;
    background-color:#E0E0E0;
}


/* TopBar */
#TopContainer .Topbar_info {
    padding-right:10px;
}

#TopContainer .Topbar_table {
    float: left;
}

#TopContainer .Topbar_img {
    float: left;
    clear:left;
    margin-top:8px;
    margin-left:10px;
    margin-right:10px;
    width:32px;
    /*background:url('../img/unknown30x30.png') no-repeat;*/
}

#TopContainer .Topbar_nr_users {
    margin-left:10px;
    margin-right:10px;
}

#TopContainer .Topbar_users {
    float: left;
    width: 20%;
    height: 40px;
    margin-top:8px;
    overflow: hidden;
}

#handlelist_toggle_button{
    margin-left:10px;
}

#TopContainer{
  position:absolute;
  left:20px;
  top: 20px;
  width:95%;
  height:50px;
  background:url('../img/solid_gray.jpg') repeat-x #d0d0d0;
  border:1px solid #fff;
  display:none;
}

/* Main container */
#MainContainer{
position:absolute;
  top: 70px;
  left:20px;
  width:95%;
  height:85%;
  margin-bottom:10px;
  padding-bottom:1%;
  display:none;
}

#Login{
position:absolute;
    top: 70px;
    left:20px;
    width:95%;
    height:85%;
    margin-bottom:10px;
    padding-bottom:1%;
}

#LoginWindow{
position:relative;
    top:30%;
    width:300px;
    height:180px;
    background:url('../img/solid_gray.jpg') repeat-x #d0d0d0;
    padding:10px;
    border:1px solid #fff;
}

#LoginWindow input{
    background:url('../img/input_bg.jpg') repeat-x #dcdcdc;
    height:26px;
    text-align:center;
    font:13px/26px Calibri,Arial,sans-serif;
    color:#777;
    border:1px solid;
    border-color:#c1c1c1 #eee #eee #c1c1c1;
    text-shadow:1px 1px 0 #E4E4E4;
    padding:0 5px;
    margin-right:5px;
    margin-top:5px;
    width:185px;
}


/* Additional styles */

a.logoutButton{
    background-color:#bbb;
    border:1px solid #eee !important;
    color:#FFFFFF !important;
    font-size:12px;
    padding:5px 9px;
    position:absolute;
    right:10px;
    text-shadow:1px 1px 0 #888;
    top:7px;

    -moz-box-shadow:0 0 7px #888 inset;
    -webkit-box-shadow:0 0 7px #888 inset;
    box-shadow:0 0 7px #888 inset;
}

a.logoutButton:hover{
    text-shadow:1px 1px 0 #888;

    -moz-box-shadow:0 0 7px #666 inset;
    -webkit-box-shadow:0 0 7px #666 inset;
    box-shadow:0 0 7px #666 inset;
}

#ErrorMessage{
    width:100%;
    top:0;
    left:0;
    position:fixed;
    background-color:#ab0909;
    border-bottom:1px solid #d32a2a;
    font-size:23px;
    padding:16px;
    text-align:center;
    color:#fff;

    text-shadow:1px 1px 0 #940f0f;
}

#SavedMessage{
    width:100%;
    top:0;
    left:0;
    position:fixed;
    background-color:#58AA00;
    font-size:23px;
    padding:16px;
    text-align:center;
    color:#fff;

    text-shadow:1px 1px 0 #940f0f;
}


.jspVerticalBar{
    float: right;
    width:20px;
    background:none;
    z-index:100;
}

.jspTrack{
    width:3px;
    right:-10px;
    border:1px solid #111111;
    background-color:#202020;
}

.jspDrag {
    width:20px;
    left:-9px;
    height:20px !important;
    margin-top:-5px;
    background:url('../img/slider.png') no-repeat;
}

.jspDrag:hover{
    background-position:left bottom;
}

.highlight {
    background-color: yellow;
    font-weight: bold;
    color: black;
}