body{
background-color: gray;
height:100%;
}

#LoggingMeldingenContainer{
  position: absolute;
  top: 0%;
  left: 0%;
  width:75%;
  height:98%;
  margin:1%;
}

#SearchMeldingen{
position:absolute;
  left:24%;
  top: 0%;
  width:74%;
  height:10%;
  background:url('../img/solid_gray.jpg') repeat-x #d0d0d0;
  margin-top:1%;
  margin-left:1%;
}

#Handles{
  position:absolute;
  padding: 50px 2px 2px 2px;
  height:89%;
  top: 0%;
  left:0%;
  width:22%;
  margin:1%;
}

#Meldingen{
position:absolute;
  left:24%;
  top: 12%;
  width:45%;
  height:55%;
  margin:1%;
}
/*
#Users{
position:absolute;
  right:0%;
  top: 12%;
  width:22%;
  height:25%;
  margin:1%;
}

#UsersList{
  width:98%;
    padding is to solve JSPbar problem in combo with user margin
    padding: 1% 0% 1% 4%;
}
*/

#RVD-Chat{
    display: none;
    position:absolute;
    padding: 25px 2px 40px 2px;
    right:0%;
    top: 12%;
    width:27%;
    height:50%;
    margin:1%;
}

#Display{
position:absolute;
  right:0%;
  top: 12%;
  width:27%;
  height:55%;
  margin:1%;
}

#TextEntry{
position:absolute;
  left:24%;
  bottom: 0%;
  width:74%;
  height:24%;
  background:url('../img/solid_gray.jpg') repeat-x #d0d0d0;
  margin-left:1%;
  margin-bottom:1%;
}

#LoggingExtraContainer{
    position: absolute;
    top: 0%;
    left: 76%;
    width:22%;
    height:98%;
    margin:1%;
}

#Tickets{
    position:absolute;
    top:0%;
    left:0%;
    width:98%;
    height:28%;
    margin:1%;
}

#OpenAutomated{
    position:absolute;
    top: 33%;
    left:0%;
    width:98%;
    height:28%;
    margin:1%;
}

#ClosedAutomated{
    display: none;
    position:absolute;
    top: 33%;
    left:0%;
    width:98%;
    height:28%;
    margin:1%;
}

#OpenFeedback{
    position:absolute;
    top: 66%;
    left:0%;
    width:98%;
    height:28%;
    margin:1%;
}

#ClosedFeedback{
    display: none;
    position:absolute;
    top: 66%;
    left:0%;
    width:98%;
    height:28%;
    margin:1%;
}


/* searchform */

#messageButton {
    display: none;
    position: absolute;
    top:10%;
    left:50%;
    width:150px;
    height:25px;
}

#keyword{
    position: absolute;
    top:10%;
    left:10%;
    width:20%;
}

#searchbutton{
    position: absolute;
    top:10%;
    left:35%;
    width:70px;
    height:25px;
}


/*Submit messages */

textarea#messagetext{
    position: absolute;
    top:10%;
    left:2%;
    height:50%;
    width:60%;

    font:13px/14px Calibri,Arial,sans-serif;
    color:#777;
    border:1px solid;
    border-color:#c1c1c1 #eee #eee #c1c1c1;
    text-shadow:1px 1px 0 #E4E4E4;
    padding:0 5px;
    resize: none;
    }

p.label_checkbox_pair{
    position:absolute;
    top: 10%;
    left: 70%;
    width: 30%;
    clear: both;
    float: none;

}
p.label_checkbox_pair input{
    overflow: hidden;
    float:left;
    margin-top:3px;
    width:15%;
}

p.label_checkbox_pair label{
    overflow: hidden;
    float: right;
    width:85%;
}

#autotext{
    position: absolute;
    top:65%;
    left:5%;
    width:40%;
    }


#autotextbutton{
    position: absolute;
    top:65%;
    left:50%;
    font-size:13px;
    height:29px;
    text-align:center;
    width: 100px;
    margin:0;
    cursor:pointer;
}
#submitbutton{
    position: absolute;
    top:10%;
    left:70%;
    font-size:13px;
    height:29px;
    text-align:center;
    width:150px;
    margin:0;
    cursor:pointer;
}

#submitbutton:hover{
    background-position:left bottom;
}

#submit_ticketbutton{
    position: absolute;
    top:40%;
    left:70%;
    font-size:13px;
    height:29px;
    text-align:center;
    width:150px;
    margin:0;
    cursor:pointer;
}

#submit_ticketbutton:hover{
    background-position:left bottom;
}


#autotextbutton:hover{
    background-position:left bottom;
}

#cancelbutton {
    display: none;
    position: absolute;
    top:65%;
    left:70%;
    font-size:13px;
    width:150px;
    height:29px;
    background-color: #e50000;
}

#updatebutton {
    display: none;
    position: absolute;
    top:10%;
    left:70%;
    width:150px;
    font-size:13px;
    height:29px;
    background-color: #58aa00;
}

#update_ticketbutton {
    display: none;
    position: absolute;
    top:40%;
    left:70%;
    width:150px;
    font-size:13px;
    height:29px;
    background-color: #58aa00;
}

#add_ticket_additionbutton {
    display: none;
    position: absolute;
    top:40%;
    left:70%;
    width:150px;
    font-size:13px;
    height:29px;
    background-color: #58aa00;
}

#answer_feedbackbutton {
    display: none;
    position: absolute;
    top:40%;
    left:70%;
    width:150px;
    font-size:13px;
    height:29px;
    background-color: #58aa00;
}

/* adding hover for messages */
.message_hover:hover{
 background:url('') repeat-x #d5d5d5;
 background-color:#B0B0B0;
 cursor:pointer;
}


/* Overloading the default styles of jScrollPane */
#UsersList div:first-child[class="jspContainer"]{
    background: #202020;
    width:100%;


}