body{
background-color: gray;
height:100%;
}

#LoggingMeldingenContainer{
  position: relative;
  top: 0%;
  left: 0%;
  width:75%;
  height:98%;
  background:url('../img/page_bg.jpg') repeat-x #323232;
  margin:1%;
}

#SearchMeldingen{
position:absolute;
  left:24%;
  top: 1%;
  width:74%;
  height:10%;
  background:url('../img/solid_gray.jpg') repeat-x #d0d0d0;
  margin-top:1%;
  margin-left:1%;
}

#Handles{
  position:absolute;
  top: 5%;
  left:0%;
  width:22%;
  height:93%;
  margin:1%;
}

#Meldingen{
position:absolute;
  left:24%;
  top: 17%;
  width:50%;
  height:55%;
  margin:1%;
}

#Users{
position:absolute;
  right:0%;
  top: 17%;
  width:22%;
  height:55%;
  margin:1%;
}

#UsersList{
  width:98%;
    /*padding is to solve JSPbar problem in combo with user margin*/
    padding: 1% 0% 1% 4%;
}


#TextEntry{
position:absolute;
  left:24%;
  bottom: 0%;
  width:74%;
  height:24%;
  background:url('../img/solid_gray.jpg') repeat-x #d0d0d0;
  margin-left:1%;
  margin-bottom:1%;
}


#LoggingExtraContainer{
    position: absolute;
    top: 0%;
    left: 76%;
    width:22%;
    height:98%;
    margin:1%;
}

#Tickets{
    position:absolute;
    top:5%;
    left:0%;
    width:98%;
    height:44%;
    margin:1%;
}

#Feedback{
    position:absolute;
    top: 55%;
    left:0%;
    width:98%;
    height:43%;
    margin:1%;
}



/* searchform */
#messageButton {
display:none;

}

/*Submit messages */

textarea#messagetext{
    position: absolute;
    top:10%;
    left:2%;
    height:80%;
    width:60%;

    font:13px/14px Calibri,Arial,sans-serif;
    color:#777;
    border:1px solid;
    border-color:#c1c1c1 #eee #eee #c1c1c1;
    text-shadow:1px 1px 0 #E4E4E4;
    padding:0 5px;
    resize: none;
    }

p.label_checkbox_pair{
    position:absolute;
    top: 10%;
    left: 70%;
    width: 30%;
    clear: both;
    float: none;

}
p.label_checkbox_pair input{
    overflow: hidden;
    float:left;
    margin-top:3px;
    width:15%;
}

p.label_checkbox_pair label{
    overflow: hidden;
    float: right;
    width:85%;
}
#TextEntry .blueButton{
    position: absolute;
    bottom:10%;
    left:70%;
    background:url('../img/button_blue.png') no-repeat;
    border:none !important;
    color:#516D7F !important;
    font-size:13px;
    height:29px;
    text-align:center;
    text-shadow:1px 1px 0 rgba(255, 255, 255, 0.4);
    width:75px;
    margin:0;
    cursor:pointer;
}

#TextEntry .blueButton:hover{
    background-position:left bottom;
}

/* Overloading the default styles of jScrollPane */
#UsersList div:first-child[class="jspContainer"]{
    background: #202020;
    width:100%;
}