*{
  margin:0;
  padding:0;
}

body{
  background-color: gray;
  color:#111;
  background:url('../img/page_bg_grey.jpg') repeat-x #323232;
  font:30px Calibri,Arial,sans-serif;
}

#TopContainer{
  position:absolute;
  left:1%;
  top: 1%;
  width:98%;
  height:10%;
  background:url('../img/solid_gray.jpg') repeat-x #d0d0d0;
  border:1px solid #fff;
  display:none;
}

#MainContainer{
position:absolute;
  top: 11%;
  left: 1%;
  width:98%;
  height:90%;
  margin-bottom:10px;
  padding-bottom:1%;
  display:none;
}

#LoggingMeldingenContainer{
  position: absolute;
  top: 0%;
  left: 0%;
  width:98%;
  height:98%;
}

#Meldingen{
position:absolute;
  left:0%;
  top: 0%;
  width:100%;
  height:75%;
  margin:1%;
}

#TextEntry{
position:absolute;
  left:0%;
  top: 85%;
  width:100%;
  height:10%;
  background:url('../img/solid_gray.jpg') repeat-x #d0d0d0;
  margin-left:1%;
  margin-bottom:1%;
}



/*Submit messages */

#messagetext{
    width:70%;
    height:40px;
    font-size:30px;
    background-color:#E0E0E0;
}

#submitbutton{
    position: absolute;
    top:1%;
    right:1%;
    font-size:30px;
    height:35px;
    text-align:center;
    width:150px;
    margin:0;
    cursor:pointer;
}

#submitbutton:hover{
    background-position:left bottom;
}

.rounded{
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
}

/* standard format */
.blueButton {
    padding: 2px 10px;
    display: inline;
    /*background: #777 url(img/button.png) repeat-x bottom;*/
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-shadow: 1px 1px #666;
    background-color: #2c6da0;
    }
.blueButton:hover {
    background-position: 0 center;
    background-color: #1c5d90;
    }


.holder{
  background: #202020;
  border:1px solid #111111;
  padding: 50px 2px 2px 2px;
}

.header{
  position:absolute;
  left:0%;
  top: 0%;
  width:100%;
  height:50px;
  color: white;
  z-index: 2;
  font:30px Calibri,Arial,sans-serif;
  text-align:center;
}

.list{
position:relative;
  left:0%;
  top: 0%;
  width:100%;
  height:100%;
  background: #303030;

}

/* Messages */
/* overflow: hidden enables the resizing of each div*/
.message{
    position:relative;
    width: 95%;
    border:1px solid #FFFFFF;
    padding:2px 2px 2px 2px;
    margin: 0.5% 5% 0.5% 1%;
    background:url('../img/chat_line_bg.jpg') repeat-x #d5d5d5;
    overflow: hidden;
}

.message:last-child{
    margin-bottom:0;
}

/*using floats here allows resizing of the parent div (message)
overflow: hiddden ensures that low resolution version doesnt
overflow over text, could also use min-width (either way screwed;-))*/


.message .msg-avatar{
    padding-right:4px;
    background:url('../img/unknown24x24.png') no-repeat;
    clear: left;
    float:left;
    display:block;
}

.message .msg-info{
    float:left;
    font-size:20px;
    line-height:20px;
    margin-right: 2px;
 }

/* This works because the div is now set to a certain BFC format */
.message .msg-text{
  overflow:hidden;
}

.message span{
    color:#777777;
    text-shadow:1px 1px 0 #FFFFFF;
    font-size:20px;
}


.message .text-span{
    color:#444444;
    font-size:25px;
    align:left;
}

.message img{
    /*hides picture when no avatar is present*/
    visibility:hidden;
}


/* TopBar */
#TopContainer .Topbar_info {
    padding-right:10px;
}

#TopContainer .Topbar_table {
    float: left;
}

#TopContainer .Topbar_img {
    float: left;
    clear:left;
    margin-top:8px;
    margin-left:10px;
    margin-right:10px;
    width:32px;
    background:url('../img/unknown30x30.png') no-repeat;
}

#TopContainer .Topbar_nr_users {
    margin-left:10px;
    margin-right:10px;
}

#TopContainer .Topbar_users {
    float: left;
    width: 40%;
    height: 40px;
    margin-top:8px;
    overflow: hidden;
}


#Login{
position:absolute;
    top: 70px;
    left:20px;
    width:95%;
    height:85%;
    margin-bottom:10px;
    padding-bottom:1%;
}

#LoginWindow{
position:relative;
    top:1%;
    width:300px;
    height:180px;
    background:url('../img/solid_gray.jpg') repeat-x #d0d0d0;
    padding:10px;
    border:1px solid #fff;
}

#LoginWindow input{
    background:url('../img/input_bg.jpg') repeat-x #dcdcdc;
    height:26px;
    text_align:center;
    font:13px/26px Calibri,Arial,sans-serif;
    color:#777;
    border:1px solid;
    border-color:#c1c1c1 #eee #eee #c1c1c1;
    text-shadow:1px 1px 0 #E4E4E4;
    padding:0 5px;
    margin-right:5px;
    margin-top:5px;
    width:185px;
}


/* Additional styles */

a.logoutButton{
    background-color:#bbb;
    border:1px solid #eee !important;
    color:#FFFFFF !important;
    font-size:12px;
    padding:5px 9px;
    position:absolute;
    right:10px;
    text-shadow:1px 1px 0 #888;
    top:7px;

    -moz-box-shadow:0 0 7px #888 inset;
    -webkit-box-shadow:0 0 7px #888 inset;
    box-shadow:0 0 7px #888 inset;
}

a.logoutButton:hover{
    text-shadow:1px 1px 0 #888;

    -moz-box-shadow:0 0 7px #666 inset;
    -webkit-box-shadow:0 0 7px #666 inset;
    box-shadow:0 0 7px #666 inset;
}

#ErrorMessage{
    width:100%;
    top:0;
    left:0;
    position:fixed;
    background-color:#ab0909;
    border-bottom:1px solid #d32a2a;
    font-size:23px;
    padding:16px;
    text-align:center;
    color:#fff;

    text-shadow:1px 1px 0 #940f0f;
}

#SavedMessage{
    width:100%;
    top:0;
    left:0;
    position:fixed;
    background-color:#58AA00;
    font-size:23px;
    padding:16px;
    text-align:center;
    color:#fff;

    text-shadow:1px 1px 0 #940f0f;
}


.jspVerticalBar{
    float right;
    width:20px;
    background:none;
}

.jspTrack{
    width:3px;
    right:-10px;
    border:1px solid #111111;
    background-color:#202020;
}

.jspDrag {
    width:20px;
    left:-9px;
    height:20px !important;
    margin-top:-5px;
    background:url('../img/slider.png') no-repeat;
}

.jspDrag:hover{
    background-position:left bottom;
}
