*{
  margin:0;
  padding:0;
}

body{
  height:100%;
  width:100%
  color:#111;
  background:url('../img/page_bg_grey.jpg') repeat-x #323232;
  font:15px Calibri,Arial,sans-serif;
  border-top:5px solid #212121;
}

.rounded{
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
}

/* standard format */
.blueButton {
    padding: 2px 10px;
    display: inline;
    background: #777 url(img/button.png) repeat-x bottom;
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-shadow: 1px 1px #666;
    background-color: #2c6da0;
    }
.blueButton:hover {
    background-position: 0 center;
    background-color: #1c5d90;
    }

.blueButton:active {
    background-position: 0 top;
    position: relative;
    top: 1px;
    padding: 6px 10px 4px;
}
.holder{
  background: #202020;
  border:1px solid #111111;
  padding: 25px 2px 2px 2px;
}

.header{
  position:absolute;
  left:0%;
  top: 0%;
  width:100%;
  height:25px;
  color: white;
  z-index: 2;
  font:17px Calibri,Arial,sans-serif;
  text-align:center;
}

.list{
position:relative;
  left:0%;
  top: 0%;
  width:100%;
  height:100%;
  background: #303030;

}

/* Messages */
/* overflow: hidden enables the resizing of each div*/
.message{
    position:relative;
    overflow: hidden;
    width: 95%;
    border:1px solid #FFFFFF;
    padding:2px 2px 2px 2px;
    margin: 0.5% 5% 0.5% 1%;
    background:url('../img/chat_line_bg.jpg') repeat-x #d5d5d5;
}

.message:last-child{
    margin-bottom:0;
}

/*using floats here allows resizing of the parent div (message)
overflow: hiddden ensures that low resolution version doesnt
overflow over text, could also use min-width (either way screwed;-))*/
.message .avatar-info-div{
width:25%;
/*min-width:70px;*/
overflow: hidden;
float:left;
}

.message .text-div{
width:75%;
float:right;
}

.message span{
    color:#777777;
    text-shadow:1px 1px 0 #FFFFFF;
    font-size:12px;
}

.message .text-span{
    color:#444444;
    font-size:15px;
    /*display:inline-block;*/
}

.message .avatar-td{

    padding-right:4px;
    background:url('../img/unknown24x24.png') no-repeat;
}

.message img{
    /*hides picture when no avatar is present*/
    visibility:hidden;
}

.message .info-td{
    /*added line-height to decrease the space that was used as margin*/
    font-size:12px;
    line-height:12px;
}



/* Chats */
/* overflow: hidden enables the resizing of each div*/
.chat{
    position:relative;
    overflow: hidden;
    width: 95%;
    border:1px solid #FFFFFF;
    padding:2px 2px 2px 2px;
    margin: 0.5% 5% 0.5% 1%;
    background:url('../img/chat_line_bg.jpg') repeat-x #d5d5d5;
}

.chat:last-child{
    margin-bottom:0;
}

/*using floats here allows resizing of the parent div (message)
overflow: hiddden ensures that low resolution version doesnt
overflow over text, could also use min-width (either way screwed;-))*/
.chat .avatar-info-div{
width:40%;
/*min-width:70px;*/
overflow: hidden;
float:left;
}

.chat .text-div{
width:60%;
float:right;
}

.chat span{
    color:#777777;
    text-shadow:1px 1px 0 #FFFFFF;
    font-size:12px;
}

.chat .text-span{
    color:#444444;
    font-size:15px;
    /*display:inline-block;*/
}

.chat .avatar-td{

    padding-right:4px;
    background:url('../img/unknown24x24.png') no-repeat;
}

.chat img{
    /*hides picture when no avatar is present*/
    visibility:hidden;
}

.chat .info-td{
    /*added line-height to decrease the space that was used as margin*/
    font-size:12px;
    line-height:12px;
}

#Chattext{
    width:100%;
    height:20px;
}
#Chatsubmit{
    position: absolute;
    top:10%;
    right:5%;

}

.chat_input{
    position: absolute;
    top:10%;
    left:5%;
    width:65%;
    margin:2px 1% 2px 0;
    padding-left:1%;
}

/* users */

.user{
    background:url('../img/unknown30x30.png') no-repeat 1px 1px #444444;
    border:1px solid #111111;
    float:left;
    height:32px;
    margin:5px 5px 0 0px;
    width:32px;
}

.user img{
    border:1px solid #444444;
    display:block;
    visibility:hidden;
}

p.noMessages,
.count{
    clear:both;
    font-size:12px;

    padding:2px;
    text-align:center;
    text-shadow:1px 1px 0 #111111;
    color:#ffffff;
}

.count{
    font-size:11px;
}

/* Handles */
.list_item_group{
    float:left;
    height:20px;
    width:95%;
    margin:2px 0px 2px 2px;
    text-align:center;
    padding-left:3px;
    background-color:#00B0B0;
}

.list_item_handle{
    position:relative;
    height:16px;
    overflow:hidden;
    width:95%;
    margin:2px 0px 2px 2px;
    padding-left:3px;
    padding-bottom:2px;
    background-color:#C2DAFF;
}

.list_item_handle_name{
    float:left;
    width:40%;
    text-align:left;
}
.list_item_handle_description{
    float:right;
    width:60%;
    text-align:left;
}

#search_handles{
    width:90%;
    margin:2px 1% 2px 1%;
    padding-left:1%;
    padding-right:1%;
}


/* tickets */
.list_item_parent_ticket{
    position:relative;
    height:16px;
    overflow:hidden;
    width:95%;
    margin:2px 2px 2px 2px;
    padding-left:3px;
    padding-bottom:2px;
    background-color:#00B0B0;
}

.list_item_parent_ticket_full{
    position:relative;
    height:16px;
    overflow:hidden;
    width:95%;
    margin:2px 2px 2px 2px;
    padding-left:3px;
    padding-bottom:2px;
    float:left;
    width:95%;
    text-align:left;
    cursor:pointer;
    background-color:#00B0B0;
}

.list_item_parent_ticket_full:hover{
    background-color:#B0B0B0;
}

.list_item_parent_ticket_title{
    float:left;
    width:60%;
    text-align:left;
    cursor:pointer;
}

.list_item_parent_ticket_user{
    float:right;
    width:40%;
    text-align:center;
}

.list_item_parent_ticket_claim{
    float:right;
    width:40%;
    text-align:center;
    cursor:pointer;
}

.list_item_parent_ticket_claim:hover{
    background-color:#FF0000;
}

.list_item_child_ticket{
    float:left;
    width:95%;
    margin:2px 0px 2px 2px;
    padding-left:3px;
    padding-bottom:1px;
    text-align:left;
    cursor:pointer;
    font:13px Calibri,Arial,sans-serif;
    background-color:#C2DAFF;
}

.list_item_child_ticket:hover{
    background-color:#B0B0B0;
}


.list_item_parent_ticket_expanded{
    float:left;
    width:95%;
    margin:2px 0px 2px 2px;
    padding-left:3px;
    padding-bottom:1px;
    text-align:left;
    cursor:pointer;
    background-color:#C2DAFF;
}

/* feedback */
.list_item_openfeedback {
    float:left;
    width:95%;
    margin:2px 0px 2px 2px;
    padding-left:3px;
    padding-bottom:1px;
    text-align:left;
    cursor:pointer;
    background-color:#00B0B0;
}

.list_item_closedfeedback
{
    float:left;
    width:95%;
    margin:2px 0px 2px 2px;
    padding-left:3px;
    padding-bottom:1px;
    text-align:left;
    cursor:pointer;
    background-color:#00B0B0;
}

.list_item_openfeedback:hover{
    background-color:#B0B0B0;
}

.list_item_closedfeedback:hover{
    background-color:#B0B0B0;
}

.list_item_feedback_expanded{
    float:left;
    width:95%;
    margin:2px 0px 2px 2px;
    padding-left:3px;
    padding-bottom:1px;
    text-align:left;
    cursor:pointer;
    background-color:#C2DAFF;
}

/* Ticket Details */

.list_item_ticketdetail_label_title{
 position: absolute;
    top:2%;
    left:1%;
    color: white;
}

#ticket_title{
    width:100%;
    height:20px;
    background-color:#E0E0E0;
}

.list_item_ticketdetail_title{
    position: absolute;
    top:1%;
    left:20%;
    width:77%;
    margin:2px 1% 2px 0;
    padding-left:1%;

}

.list_item_ticketdetail_status{
    position:absolute;
    overflow:hidden;
    top:-25px;
    right:1%;
    height:20px;
    width:30%;
    margin:2px 1% 2px 0;
    padding-right:1%;
    background-color:#00B0B0;
    text-align:center;
}

.list_item_ticketdetail_label_ber{
    position: absolute;
    top:11%;
    left:1%;
    color: white;
}

textarea#ticket_text{
    position: absolute;
    width:74%;
    height: 15%;
    top:11%;
    left: 22%;
    font:13px/14px Calibri,Arial,sans-serif;
    color:black;
    border:1px solid;
    border-color:#c1c1c1 #eee #eee #c1c1c1;
    text-shadow:1px 1px 0 #E4E4E4;
    padding:1% 1%;
    resize: none;
    background-color:#E0E0E0;
}


#ticket_location{
    width:100%;
    background-color:#E0E0E0;
}

.list_item_ticketdetail_label_loc
{
    position: absolute;
    top:30%;
    left:1%;
    color: white;
}

.list_item_ticketdetail_location{
    position: absolute;
    top:30%;
    left:20%;
    margin:2px 1% 2px 1%;
    padding-left:1%;
    padding-right:1%;
    width:76%;
}

.list_item_ticketdetail_time{
    position: absolute;
    top:40%;
    left:1%;
    color: white;
}


.list_item_ticketdetail_label_handle{
    position: absolute;
    top:50%;
    left:1%;
    color: white;
}

.list_item_ticketdetail_handle{
    position: absolute;
    top:50%;
    left:20%;
    overflow:hidden;
    width:50%;
    margin:2px 1% 2px 1%;
    padding-left:1%;
    padding-right:1%;
    color: white;

}

.list_item_ticketdetail_label_persoon{
    position: absolute;
    top:50%;
    left:51%;
    color: white;
}

.list_item_ticketdetail_persoon{
    position: absolute;
    top:50%;
    left:66%;
    overflow:hidden;
    width:30%;
    margin:2px 1% 2px 1%;
    padding-left:1%;
    padding-right:1%;
}

#ticket_persoon{
    width:100%;
    height:20px;
    background-color:#E0E0E0;
}


.list_item_ticketdetail_label_owner{
    position: absolute;
    top:60%;
    left:1%;
    color: white;
}

.list_item_ticketdetail_owner{
    position: absolute;
    top:60%;
    left:20%;
    overflow:hidden;
    width:50%;
    margin:2px 1% 2px 1%;
    padding-left:1%;
    padding-right:1%;
}


.list_item_ticketdetail_label_becomechild{
    position: absolute;
    top:88%;
    left:1%;
    color: white;
}

.list_item_ticketdetail_becomechild{
    position: absolute;
    top:88%;
    left:30%;
    width:30%;
    margin:2px 1% 2px 1%;
    padding-left:1%;
    padding-right:1%;
}

.list_item_ticketdetail #childticketbutton{
    position: absolute;
    top:88%;
    right:5%;
    width:70px;
    height:25px;
}


.list_item_ticketdetail #becomeparentticketbutton{
    position: absolute;
    top:88%;
    right:5%;
    width:80px;
    height:25px;
}

.list_item_ticketdetail #closeticketbutton{
    position: absolute;
    top:74%;
    right:10%;
    width:120px;
    height:25px;
    background-color: #e50000;
}

.list_item_ticketdetail #saveticketbutton{
    position: absolute;
    top:74%;
    left:10%;
    width:120px;
    height:25px;
    background-color: #58aa00;
}


/*Create subticket*/
#WL-ActieForm {
display:none;
}

.list_item_extra_Header {
    position: absolute;
    top:-4%;
    width:100%;
    margin:2px 1% 2px 1%;
    padding-left:1%;
    padding-right:1%;
    color: white;
}

.list_item_extra_label_Title{
    position: absolute;
    top:14%;
    margin:2px 1% 2px 1%;
    padding-left:1%;
    padding-right:1%;
    color: white;
}

.list_item_extra_Title {
    position: absolute;
    top:14%;
    left:23%;
    width:70%;
    margin:2px 1% 2px 1%;
    padding-left:1%;
    padding-right:1%;
    color: white;
}

#subticket_Title,#feedback_Title,#subticket_Location,#feedback_Location{
width:100%;
background-color:#E0E0E0;
}

.list_item_extra_Label{
    position: absolute;
    top:30%;
    width:100%;
    margin:2px 1% 2px 1%;
    padding-left:1%;
    padding-right:1%;
    color: white;
}

textarea#subticket_Text,textarea#feedback_Text{
    position: absolute;
    width:69%;
    height: 15%;
    top:30%;
    left: 25%;
    font:13px/14px Calibri,Arial,sans-serif;
    color:black;
    border:1px solid;
    border-color:#c1c1c1 #eee #eee #c1c1c1;
    text-shadow:1px 1px 0 #E4E4E4;
    padding:1% 1%;
    resize: none;
}

.list_item_extra_label_Handle{
    position: absolute;
    top:53%;
    margin:2px 1% 2px 1%;
    padding-left:1%;
    padding-right:1%;
    color: white;
}

.list_item_extra_Handle{
    position: absolute;
    top:53%;
    left:23%;
    width:70%;
    margin:2px 1% 2px 1%;
    padding-left:1%;
    padding-right:1%;
    color: white;
}

.list_item_extra_label_Location{
    position: absolute;
    top:65%;
    margin:2px 1% 2px 1%;
    padding-left:1%;
    padding-right:1%;
    color: white;
}

.list_item_extra_Location{
    position: absolute;
    top:65%;
    left:23%;
    width:70%;
    margin:2px 1% 2px 1%;
    padding-left:1%;
    padding-right:1%;
    color: white;
}

.list_item_extra_Button{
  position: absolute;
  top:80%;
  width:200px;
  height:30px;
  right:10%;
}

#FeedbackForm {
display:none;
}


/* TopBar */
#TopContainer .Topbar_info {
padding-right:10px;
}

#TopContainer .Topbar_table {
position: absolute;
top: 0px;
left: 50px;
}

#TopContainer .Topbar_img {
    margin-top:8px;
    margin-left:10px;
    width:32px;
    background:url('../img/unknown30x30.png') no-repeat;
}

#TopContainer{
  position:absolute;
  left:20px;
  top: 20px;
  width:95%;
  height:50px;
  background:url('../img/solid_gray.jpg') repeat-x #d0d0d0;
  border:1px solid #fff;
  display:none;
}

/* Main container */
#MainContainer{
position:absolute;
  top: 70px;
  left:20px;
  width:95%;
  height:85%;
  margin-bottom:10px;
  padding-bottom:1%;
  display:none;
}

#Login{
position:absolute;
    top: 70px;
    left:20px;
    width:95%;
    height:85%;
    margin-bottom:10px;
    padding-bottom:1%;
}

#LoginWindow{
position:relative;
    top:30%;
    width:300px;
    height:180px;
    background:url('../img/solid_gray.jpg') repeat-x #d0d0d0;
    padding:10px;
    border:1px solid #fff;
}

#LoginWindow input{
    background:url('../img/input_bg.jpg') repeat-x #dcdcdc;
    height:26px;
    text_align:center;
    font:13px/26px Calibri,Arial,sans-serif;
    color:#777;
    border:1px solid;
    border-color:#c1c1c1 #eee #eee #c1c1c1;
    text-shadow:1px 1px 0 #E4E4E4;
    padding:0 5px;
    margin-right:5px;
    margin-top:5px;
    width:185px;
}


/* Additional styles */

a.logoutButton{
    background-color:#bbb;
    border:1px solid #eee !important;
    color:#FFFFFF !important;
    font-size:12px;
    padding:5px 9px;
    position:absolute;
    right:10px;
    text-shadow:1px 1px 0 #888;
    top:7px;

    -moz-box-shadow:0 0 7px #888 inset;
    -webkit-box-shadow:0 0 7px #888 inset;
    box-shadow:0 0 7px #888 inset;
}

a.logoutButton:hover{
    text-shadow:1px 1px 0 #888;

    -moz-box-shadow:0 0 7px #666 inset;
    -webkit-box-shadow:0 0 7px #666 inset;
    box-shadow:0 0 7px #666 inset;
}

#ErrorMessage{
    width:100%;
    top:0;
    left:0;
    position:fixed;
    background-color:#ab0909;
    border-bottom:1px solid #d32a2a;
    font-size:23px;
    padding:16px;
    text-align:center;
    color:#fff;

    text-shadow:1px 1px 0 #940f0f;
}

#SavedMessage{
    width:100%;
    top:0;
    left:0;
    position:fixed;
    background-color:#58AA00;
    font-size:23px;
    padding:16px;
    text-align:center;
    color:#fff;

    text-shadow:1px 1px 0 #940f0f;
}


.jspVerticalBar{
    float right;
    width:20px;
    background:none;
}

.jspTrack{
    width:3px;
    right:-10px;
    border:1px solid #111111;
    background-color:#202020;
}

.jspDrag {
    width:20px;
    left:-9px;
    height:20px !important;
    margin-top:-5px;
    background:url('../img/slider.png') no-repeat;
}

.jspDrag:hover{
    background-position:left bottom;
}

.highlight {
    background-color: yellow;
    font-weight: bold;
    color: black;
}