#loginForm {
    border: solid black 1px;
    width: 350px;
    text-align: center;
    float:left;
}

#chatTopBar {
    margin: 1em;
    border: solid black 1px;
    width: 150px;
    clear: both;
}

#chatTopBar * {
    display: block;
}

#msgscroll {
    border: solid gray 1px;
    height: 250px;

}

#messages:before {
    content: "Log Messages";
}

#messages {
    float: left;
    width: 200px;
    height: 250px;
    margin-left: 10px;
    
}

#messages-list {
    float: left;
    width: 200px;
    height: 250px;
    border: solid gray 1px;
    margin-left: 10px;

}

#messages-list:before {
    content: "All Messages";
}

#msgsearchscroll {
    border: solid gray 1px;
    height: 250px;

}


#message-search:before {
    content: "Search Messages";
}

#message-search {
    float: left;
    width: 200px;
    height: 250px;
    margin-left: 10px;
}

#users-list:before {
    content: "Online Users";
}

#users-list {
    float: left;
    width: 200px;
    height: 250px;
    border: solid gray 1px;
    margin-left: 10px;

}


#handle-list:before {
    content: "Groups / Handles";
}

#handle-list {
    float: left;
    width: 200px;
    height: 250px;
    border: solid gray 1px;
    margin-left: 10px;

}

#ticket-list:before {
    content: "All Tickets";
}
#ticket-list {
    float: left;
    width: 200px;
    height: 250px;
    border: solid gray 1px;
    margin-left: 10px;

}

#allfeedback-list:before {
    content: "All Feedback";
}

#allfeedback-list {
    float: left;
    width: 200px;
    height: 250px;
    border: solid gray 1px;
    margin-left: 10px;

}