body{
background-color: gray;
height:100%;
}

#TicketingCommunicationContainer{
    position: absolute;
    left:0%;
    width:45%;
    height:98%;
    margin-top:1%;
}

#Handles{
    position:absolute;
    top: 0%;
    left:0%;
    width:31%;
    height:93%;
    margin-top:1%;
}

#ChatContainer{
    position:absolute;
    top: 0%;
    left: 33%;
    width:65%;
    height:98%;
    margin:1%;
}

#Meldingen{
    position:absolute;
    top: -1%;
    left:0%;
    width:98%;
    height:30%;
    margin:1%;
}

#Users{
    position:absolute;
    top: 36%;
    left:0%;
    width:98%;
    height:13%;
    margin:1%;
}

#WL-Chat{
    position:absolute;
    top: 55%;
    left:0%;
    width:98%;
    height:33%;
    margin:1%;
}

#UsersList{
  width:98%;
    /*padding is to solve JSPbar problem in combo with user margin*/
    padding: 1% 0% 1% 4%;
}

#TextEntry{
    position:absolute;
    top: 95%;
    left:0%;
    width:98%;
    height:5%;
    background:url('../img/solid_gray.jpg') repeat-x #d0d0d0;
    margin: 1%;
}

#TicketingOverviewContainer{
    position: absolute;
    top: 0%;
    left:45%;
    width:22%;
    height:98%;
    margin:1%;
}

#NewTickets{
    position:absolute;
    top: 0%;
    left:0%;
    width:98%;
    height:20%;
    margin:1%;
}

#OpenTickets{
    position:absolute;
    top: 26%;
    left:0%;
    width:98%;
    height:40%;
    margin:1%;
}

#ClosedTickets{
    position:absolute;
    top: 72%;
    left:0%;
    width:98%;
    height:22%;
    margin:1%;
}

#TicketingDetailsContainer{
    position: absolute;
    top: 0;
    left: 68%;
    width:31%;
    height:98%;
    margin:1%;
}

#TicketDetails{
    position:absolute;
    top: 0%;
    left:0%;
    width:98%;
    height:55%;
    margin:1%;
}

#WL-Actie{
    position:absolute;
    top: 62%;
    left:0%;
    width:98%;
    height:32%;
    margin:1%;
}

#WL-ActieHeader{
  Width :33%;
  Left: 0%;
}

#WL-ActieHeader:hover{
    background:transparent;
    background-color:#B0B0B0;
    cursor:pointer;
}

#Feedback{
    position:absolute;
    top: 62%;
    left:0%;
    width:98%;
    height:32%;
    margin:1%;
}

#FeedbackHeader{
  Width :33%;
  Left: 34%;
}

#FeedbackHeader:hover{
    background:transparent;
    background-color:#B0B0B0;
    cursor:pointer;
}

#Timeline{
    position:absolute;
    top: 62%;
    left:0%;
    width:98%;
    height:32%;
    margin:1%;
}

#TimelineHeader{
  Width :32%;
  Left: 68%;
}

#TimelineHeader:hover{
    background:transparent;
    background-color:#B0B0B0;
    cursor:pointer;
}