body{
background-color: gray;
height:100%;
}

#TicketingCommunicationContainer{
    position: relative;
    width:45%;
    height:98%;
    margin:1%;
}

#Handles{
    position:absolute;
    top: 5%;
    left:0%;
    width:31%;
    height:93%;
    margin:1%;
}

#Meldingen{
    position:absolute;
    top: 5%;
    left:33%;
    width:65%;
    height:26%;
    margin:1%;
}

#ChatContainer{
    position:absolute;
    top: 33%;
    left:33%;
    width:65%;
    height:65%;
    margin:1%;
}

#WL-Chat{
    position:absolute;
    top: 8%;
    left:0%;
    width:65%;
    height:57%;
    margin:1%;
}

#Users{
    position:absolute;
    top: 8%;
    left:67%;
    width:31%;
    height:57%;
    margin:1%;
}

#UsersList{
  width:98%;
    /*padding is to solve JSPbar problem in combo with user margin*/
    padding: 1% 0% 1% 4%;
}

#TextEntry{
    position:absolute;
    top: 67%;
    left:0%;
    width:98%;
    height:31%;
    background: white;
    margin:1%;
}

#TicketingOverviewContainer{
    position: absolute;
    top: 0%;
    left:47%;
    width:20%;
    height:98%;
    margin:1%;
}

#NewTickets{
    position:absolute;
    top: 5%;
    left:0%;
    width:98%;
    height:27%;
    margin:1%;
}

#OpenTickets{
    position:absolute;
    top: 38%;
    left:0%;
    width:98%;
    height:27%;
    margin:1%;
}

#ClosedTickets{
    position:absolute;
    top: 71%;
    left:0%;
    width:98%;
    height:27%;
    margin:1%;
}

#TicketingDetailsContainer{
    position: absolute;
    top: 0;
    left: 68%;
    width:31%;
    height:98%;
    margin:1%;
}

#TicketDetails{
    position:absolute;
    top: 5%;
    left:0%;
    width:98%;
    height:27%;
    margin:1%;
}

#WL-Actie{
    position:absolute;
    top: 38%;
    left:0%;
    width:98%;
    height:27%;
    margin:1%;
}

#Feedback{
    position:absolute;
    top: 71%;
    left:0%;
    width:98%;
    height:27%;
    margin:1%;
}

